@import '../../styles/variables';

.sendbird-user-list-item {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg--0-5);
  }

  &__avatar {
    z-index: 1;
    cursor: pointer;
  }

  .sendbird-muted-avatar {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
  }

  &__title {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__email {
    color: var(--sendbird-light-onlight-03);
    font-family: var(--sendbird-font-family-default);
    font-size: 14px;
  }

  &__subtitle {
    position: absolute;
    top: 23px;
    left: 140px;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__checkbox {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__action {
    position: absolute;
    right: 0;
    top: 10px;
  }

  &__operator {
    position: absolute;
    right: 40px;
    top: 22px;
  }
}
